---
layout: default
title: Home
---

<div style="background-color: #eee; border-radius: 12px; padding: 1.5em; transform: scale(0.7); transform-origin: top left; text-align: center; max-width: 300px;">
  <h1 style="margin-top: 0; font-size: 1.5em;">Donate To Bitcoin Core-Dinals</h1>
  <img src="/images/frame.png" style="border-radius: 12px; padding: 0.5em; background-color: white; width: 100%; max-width: 200px;">
  <p style="font-family: monospace; font-size: 0.9em; word-wrap: break-word; margin-top: 1em;">
    bc1qazwmmhse5rd238vrka90marcy0rkju45yphvhp
  </p>
</div>



<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content | strip_html | truncatewords: 50 }}

  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

